PORT=3000

DB_HOST=db
DB_PORT=5432
DB_NAME=users_db
DB_USER=admin
DB_PASSWORD=secret

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=your_mailtrap_user
SMTP_PASS=your_mailtrap_pass
SMTP_FROM=noreply@example.com

INITIAL_SUPERADMIN_EMAIL=<admin_email>
INITIAL_SUPERADMIN_TEMP_PASSWORD=<temp_password>

APP_URL=http://localhost:3000

JWT_SECRET=una_clave_secreta_muy_larga_y_segura_cambiar_en_produccion
ADMIN_JWT_SECRET=otra_clave_secreta_distinta_solo_para_admins
JWT_EXPIRES_IN=7d
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
