PORT=3000

DB_HOST=db
DB_PORT=5432
DB_NAME=users_db
DB_USER=admin
DB_PASSWORD=secret

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=your_mailtrap_user
SMTP_PASS=your_mailtrap_pass
SMTP_FROM=noreply@example.com

APP_URL=http://localhost:3000
